*
	{
	margin: 0px;
	padding: 0px;
	}

header, section, footer, aside, nav, form
										{
											display: block;
										}

body 
	{
	 text-align: center;
	}

#agrupar 
		{
			width: 1155px;
			margin: 15px auto;
			text-align: left;
		}
		
#cabecera 
		{
			border-radius:  13px;
			padding: 20px;
			
		 } 


#menu{
	  font-family: Arial, verdana;
	  font-weight: bold;
	  font-size: 12px;
	  text-align: center;
	  padding: 5px 15px;
	  text-align: right;	
	  background:#06C;
	  height: 35px;
}



#seccion 
		{
		
			width: 500px;
			padding: 15px;
			margin:20px 0px;
			border: 1px solid #999999;
			border-radius: 15px 15px 15px 15px;
			box-shadow: 5px 3px 3px 5px #999999;
			background:#ffffff;
			float:left;
			 
		} 


#pie 
	{
		clear: both;
		text-align: center;
		line-height: 30px; 
		padding: 20px;
		border-top: 3px solid #999999;
		background:#ffffff;
	}
	
.label
		{
	        display: inline-block;
			padding: 5px;
			font-family: Helvetica Neue,Arial;
			font-weight: bold;
			font-size: 13px;	
		}
.label2
		{
	         
	        height: 22px;
	        display: inline-block;
			font-family: Helvetica Neue,Arial;
			font-weight: bold;
			font-size: 11px;
			
			
		}

#busqueda
		{
			border: 1px solid #000000;
			width: 250px;
			border-radius: 15px;
		}
		
#enlinea{
	display:inline;
}	
		


a
	{
	text-align: center;
	text-decoration:none;
	color:#000000;
	}

a:hover
		{
		text-align: center;
		text-decoration:none;
		text-decoration-color:  /*#1db7b1*/
		color:#06C;/*#C0C0C0*/
		}

.a{
	font-family: Helvetica Neue,Arial;
	font-weight: bold;
	font-size: 14px;	
    text-align: center;
	
}


.enlinea
		{
		display: inline-block;
		list-style: none;
        }

 .td 
 	{
   	width: 25%;
   	text-align: center;
   	vertical-align: top;
   	border: 1px solid #808080;
   	border-collapse: collapse;
   	padding: 0.3em;
   	caption-side: bottom;
    border-radius: 5px;
   	background: #0080ff;
   	box-shadow: 1px 1px 1px 1px #808080;
   	}
 
 .td2
 	{
     padding: 8px;     
     background: #ffffff;     
     border-bottom: 1px solid #000000;
     color: #000000;   
     border-top: 1px solid transparent;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 1px #808080;
     line-height: 30px; 
	 font-family: Helvetica Neue,Arial;
			font-weight: bold;
			font-size: 12px;
   	}

	  

#div
	{
	width: 980px;
	margin: 20px;
	padding: 10px;
	border: 1px solid #000000;
	border-radius: 15px;
	box-shadow: 10px 5px 5px 5px #999999;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

#instrucicones {
	width: 320px;
	padding: 15px;
	margin:20px 20px;
	border: 1px solid #999999;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 3px 3px 5px #999999;
	background:#ffffff;
	float:left;
	font-size: 11px;
	font-family: arial;
}

#header {
	<!-- width: 980px; -->
	height: 60px;
	background-color: #1db7b1;
	padding: 20px;
	
}





#content {
    background-color: #67A8D5;
    height: 30px;
    padding-top: 15px;
    border: 1px solid #999999;
	border-radius: 15px 15px 15px 15px;
	height: 500px;
	
    
}

#header {
	height: 20px;
	margin-top: 5px;
	color: #fff;
	font-size: 14px;
	
}


#header-izq{
    font-family: Arial, Verdana;
    font-size: 12px;
    color: #0000FF;
    text-align:right;
	padding-bottom:5px;
	margin-left:25px;
	width: 500 px;
    float: left;    
}



#header-der{
    font-family: Arial, Verdana;
    font-size: 12px;
    color: #0000FF;
    text-align:right;
	padding-bottom:10px;
	margin-right:25px;
	width: 100px;
    float: right;   
}

#header-menu {
	background-color: #06C;
	height: 40px;
		
}


ul, ol {
	list-style:none;
}
			
.nav > li {
	float:left;
	
}
			
.nav li a {
	background-color:#06C;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	display:block;
	font-family: Arial, verdana;
	font-size:12px;
}
			
.nav li a:hover {
	background-color:#434343;
	
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	
}
			
.nav li:hover > ul {
	display:block;
	
}
			
.nav li ul li {
	position:relative;
}
			
.nav li ul li ul {
	right:1140px;
	top:0px;
	
}

.ui-state- {
    background: #85b2cb !important;
}