
* {
	margin: 0px;
	padding: 0px;
}

header, section, footer, aside, nav, form {
	display: block;
}

body {
	text-align: center;
}

#menu {
	font-family: Arial, verdana;
	font-size: 12px;
	text-align: left;
	padding: 0px 10px;
	background:#C0C0C0;
	height: 20px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #C0C0C0;
}

.a {
	font-family: Arial, verdana;
	font-weight: bold;
	font-size: 14px;
}

#header {<!--
	width: 980px; -->
	height: 50px;
	background-color: #1db7b1;
	padding-top: 5px;
	padding-bottom: 5px; color : #fff;
	font-size: 14px;
	text-align: left;
	color: #fff
}

/* ------------ */

#header-menu {
	background-color: #06C;
	height: 40px;
}

ul, ol {
	list-style: none;
}

.nav>li {
	float: left;
}

.nav li a {
	background-color: #06C;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	font-family: Arial, verdana;
	font-size: 12px;
}

.nav li a:hover {
	background-color: #434343;
}

.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover>ul {
	display: block;
}

.nav li ul li {
	position: relative;
}

.nav li ul li ul {
	right: -140px;
	top: 0px;
}


#salir {
    text-align: right;
    margin-left: 300px;
}

.ui-button {
    font-family: Arial !important;
    font-size: 12px !important;
    
}