
#content {
    background-color: #E6E6E6;
    height: 30px;
    padding-top: 15px;
    border: 1px solid #999999;
	border-radius: 15px 15px 15px 15px;
	height: 500px;
	
    
}

#header {
	height: 30px;
	text-align: center;
	margin-top: 5px;
	
}


#header-izq{
    font-family: Arial, Verdana;
    font-size: 12px;
    color: #0000FF;
    text-align:right;
	padding-bottom:5px;
	margin-left:25px;
	width: 500 px;
    float: left;    
}



#header-der{
    font-family: Arial, Verdana;
    font-size: 12px;
    color: #0000FF;
    text-align:right;
	padding-bottom:10px;
	margin-right:25px;
	width: 100px;
    float: right;   
}

#header-menu {
	background-color: #06C;
	height: 40px;
		
}


ul, ol {
	list-style:none;
}
			
.nav > li {
	float:left;
	
}
			
.nav li a {
	background-color:#06C;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
	font-family: Arial, verdana;
	font-size:12px;
}
			
.nav li a:hover {
	background-color:#434343;
	
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	
}
			
.nav li:hover > ul {
	display:block;
	
}
			
.nav li ul li {
	position:relative;
}
			
.nav li ul li ul {
	right:-140px;
	top:0px;
	
}

p:outputLabel{
    font-size: 30px;
    
}