<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">  

    <h:head>  
        <link rel="stylesheet" type="text/css" href="css/estilo.css"/>
    </h:head>  

    <h:body>  

      <div id="agrupar" class="content">
<div id="header">
TELÉFONOS +52 55 55382706 +52 55 13716609
<div align="right">
 <h:outputLink value="javascript:void(0)" onclick="PF('dlg').show();" title="login">
     <h:outputLabel style="font-size:20px;color:#ffffff" for="username" value="Iniciar Sesion" />
    </h:outputLink>
</div>
</div>

<div id="encab2">
    <img src="img/logo.jpg" />
    <img src="img/1a.jpg" />
    
</div>
 <div align="right">
<h:form>            
    <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
 
    <p:dialog header="Login" widgetVar="dlg" resizable="false">
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="username" value="Correo:" />
            <p:inputText id="username" value="#{loginManaged.username}" required="true" label="username" />
 
            <h:outputLabel for="password" value="Password:" />
            <p:password id="password" value="#{loginManaged.password}" required="true" label="password" />
 
            <f:facet name="footer">
                <p:commandButton value="Login" update="growl" actionListener="#{loginManaged.login}"
                                 oncomplete="handleLoginRequest(xhr, status, args)" />
            </f:facet>  
        </h:panelGrid>
    </p:dialog>
</h:form>
 
<script type="text/javascript">
    function handleLoginRequest(xhr, status, args) {
        if(args.validationFailed || !args.loggedIn) {
            PF('dlg').jq.effect("shake", {times:5}, 100);
        }
        else {
            PF('dlg').hide();
            $('#loginLink').fadeOut();
        }
    }
</script>
<!--<s:form  action="LoginJug">
<table>
<tr>
<td><label><b>Correo:</b></label></td>
<td><s:textfield theme="simple" size="10"  name="correo" 	label="Usuario" id="correo" 	required="true"/></td>
<td><label><b>Password</b></label></td>
<td><s:password  theme="simple" size="10"  name="contra" 	label="ContraseÃƒÂ±a" 	id="contra" 	required="true"/>
<input type="submit" value="Entrar"></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td><a><h6><u>Olvide mi contraseÃƒÂ±a</u></h6></a></td>
</tr>
</table>
</s:form>-->
</div>         
<div id="menu">
			<ul class="nav">
				<li><a>Inicio</a></li>
				<li><a>Quienes Somos</a></li>
				<li><a>Próximos Torneos</a></li>
				<li><a>Torneos Anteriores</a></li>
				<li><a>Normateca</a></li>
				<li><a>Contacto</a></li>
				<li><p:link outcome="registrojugador" value="Registrarse"/></li>
			</ul>

		</div>




          <br/>
          <br/>
              
		
		<footer id="pie">
				Derechos Reservados;
		</footer>
	
</div>	


    </h:body>  
</html> 