<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">  

    <h:head>  
        <script>
            PrimeFaces.locales["es"] = {
                closeText: "Cerrar",
                prevText: "Anterior",
                nextText: "Siguiente",
                monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthNamesShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                weekHeader: "Semana",
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: "",
                timeOnlyTitle: "Solo hora",
                timeText: "Tiempo",
                hourText: "Hora",
                minuteText: "Minuto",
                secondText: "Segundo",
                currentText: "Fecha actual",
                ampm: false,
                month: "Mes",
                week: "Semana",
                day: "Día",
                allDayText: "Todo el día"
            };

           
        </script>
        <link href="css/estiloestructurajugador.css" rel="stylesheet" type="text/css" />        
    </h:head>  

    <h:body>  


        <div id="header_est">

            <ui:include src="menujugador.xhtml"></ui:include>
            <div id="content">
                <section id="seccion3">
                    <h:form>
                        <h3>Actualizar Datos Personales</h3>
                        <p:separator /> 
                        <p:messages id="messages" showDetail="true" autoUpdate="true" />
                        <h:panelGrid columns="10" cellpadding="5" >

                            <h:outputLabel  value="Nombre:" />
                            <p:inputText  value="#{modificaJManaged.nombre}" size="10"/>

                            <h:outputLabel  value="Celular:" />
                            <p:inputText  value="#{modificaJManaged.movil}"  size="10"/>

                            <h:outputLabel  value="Teléfono:" />
                            <p:inputText  value="#{modificaJManaged.telefonoLocal}" size="10" />

                            <p:outputLabel value="País:" />
                            <p:selectOneMenu value="#{modificaJManaged.pais}" >
                                <p:ajax listener="#{modificaJManaged.cargaCiudades}" update="paisId" />
                                <f:selectItems value="#{modificaJManaged.paises}">   
                                </f:selectItems>
                            </p:selectOneMenu>

                            <p:outputLabel value="Metrópoli:" />
                            <p:selectOneMenu  id="paisId" value="#{modificaJManaged.metropoli}" > 
                                <f:selectItem itemLabel="Selecciona metropoli" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{modificaJManaged.metropolis}"  >   
                                </f:selectItems>
                            </p:selectOneMenu>

                            <h:outputLabel  value="Club o Asociación:" />
                            <p:inputText  value="#{modificaJManaged.club}" size="10"/>

                            <h:outputLabel  value="Género:" />
                            <p:selectOneRadio  value="#{modificaJManaged.genero}">
                                <f:selectItem itemLabel="Masculino" itemValue="1" />
                                <f:selectItem itemLabel="Femenino" itemValue="2" />
                            </p:selectOneRadio>


                            <p:outputLabel value="Fecha de nacimiento:" />
                            <p:calendar  value="#{modificaJManaged.fecha}" size="10"  pattern="dd-MMM-yyyy"  locale="es" navigator="true"/>

                            <p:outputLabel  value="Discapacidad:" />
                            <p:selectOneMenu  value="#{modificaJManaged.discapacitado}" style="width:125px">
                                <f:selectItem itemLabel="Ninguna" itemValue="Ninguna" />
                                <f:selectItem itemLabel="Visual" itemValue="Visual" />
                                <f:selectItem itemLabel="Auditiva" itemValue="Auditiva" />
                                <f:selectItem itemLabel="Motriz" itemValue="Motriz" />
                            </p:selectOneMenu>

                            <p:outputLabel  value="Identificación" />
                            <p:selectOneMenu  value="#{modificaJManaged.identificacionFoto}" style="width:125px">
                                <f:selectItem itemLabel="INE" itemValue="INE" />
                                <f:selectItem itemLabel="Cédula profesional" itemValue="Cédula profesional" />
                                <f:selectItem itemLabel="Cartilla" itemValue="Cartilla" />
                                <f:selectItem itemLabel="Pasaporte" itemValue="Pasaporte" />
                                <f:selectItem itemLabel="Licencia" itemValue="Licencia" />
                            </p:selectOneMenu>

                            <h:outputLabel  value="No. de Identificación:" />
                            <p:inputText  value="#{modificaJManaged.numeroIdentificacion}" size="10"/>
                            <c:if test="#{modificaJManaged.variablerfc == 0}">
                                <h:outputLabel  value="RFC:" />
                                <p:inputText  value="#{modificaJManaged.rfc}" size="10"/>
                            </c:if>

                            <c:if test="#{modificaJManaged.variablecurp == 0}">
                                <h:outputLabel  value="CURP:" />
                                <p:inputText  value="#{modificaJManaged.curp}" size="10"/>
                            </c:if>



                        </h:panelGrid>
                        <p:commandButton  value="Actualizar" actionListener="#{modificaJManaged.updateUser}"/>

                    </h:form>

                    <h:form>
                        <br/>
                        <br/>
                        <h3>Cambiar Contraseña.</h3>
                        <p:separator /> 
                        <p:messages id="messages" showDetail="true" autoUpdate="true" />
                        <h:panelGrid columns="2" cellpadding="5" >

                            <p:outputLabel for="pwd1" value="Contraseña: " />
                            <p:password id="pwd1" value="#{modificaJManaged.psw}" match="pwd2" validatorMessage="Las contraseñas ingresadas no coinciden" label="Password 1" required="true" 
                                        requiredMessage="Contraseña es un campo obligatorio." feedback="true"
                                        promptLabel="Ingresa contraseña" weakLabel="debil"
                                        goodLabel="medio" strongLabel="fuerte" size="10"/>


                            <p:outputLabel for="pwd2" value="Confirma contraseña: " />
                            <p:password id="pwd2" value="#{modificaJManaged.psw}" label="Password 2" required="true" 
                                        requiredMessage="Confirma contraseña es un campo obligatorio." size="10"/>

                            <p:commandButton  value="Actualizar" actionListener="#{modificaJManaged.updatePass}"/>


                        </h:panelGrid>


                    </h:form>



                </section>
            </div>           


        </div>  

    </h:body>  
</html> 



