<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">  

    <h:head>  
        <script>
            PrimeFaces.locales["es"] = {
                closeText: "Cerrar",
                prevText: "Anterior",
                nextText: "Siguiente",
                monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthNamesShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                weekHeader: "Semana",
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: "",
                timeOnlyTitle: "Solo hora",
                timeText: "Tiempo",
                hourText: "Hora",
                minuteText: "Minuto",
                secondText: "Segundo",
                currentText: "Fecha actual",
                ampm: false,
                month: "Mes",
                week: "Semana",
                day: "Día",
                allDayText: "Todo el día"
            };

            function archivo() {

                window.open('AvisodePrivacidad.pdf');

            }
        </script>
        <link href="css/estiloprincipal.css" rel="stylesheet" type="text/css" />
    </h:head>  

    <h:body>  

        <div id="encab">
            AMIGOS POR EL DOMINO
        </div>
        <nav id="menu"> 
            <p:link outcome="index" value="Salir"/>
        </nav>
        <div id="agrupar">

            <div>


                <section id="seccion">  

                    <h:form>


                        <p:fieldset legend="Registro de Usuario" style="margin-bottom:20px" id="messages" >
                            <p:messages  showDetail="true" autoUpdate="true" />
                            <p:separator />
                            <h:panelGrid columns="2" cellpadding="1" id="matchGrid">
                                <p:outputLabel value="Nombre: *" />
                                <p:inputText value="#{indexManaged.name}" required="true" requiredMessage="Nombre es un campo obligatorio."/>

                                <p:outputLabel value="Correo electrónico: *" />
                                <p:inputText required="true" requiredMessage="Correo es un campo obligatorio."
                                             validatorMessage="Formato de correo invalido"
                                             value="#{indexManaged.email}">
                                    <f:validateRegex
                                        pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                                </p:inputText>

                                <p:outputLabel for="pwd1" value="Contraseña: " />
                                <p:password id="pwd1" value="#{indexManaged.pass}" match="pwd2" validatorMessage="Las contraseñas ingresadas no coinciden" label="Password 1" required="true" 
                                            requiredMessage="Contraseña es un campo obligatorio." feedback="true"
                                            promptLabel="Ingresa contraseña" weakLabel="debil"
                                            goodLabel="medio" strongLabel="fuerte" />


                                <p:outputLabel for="pwd2" value="Confirma contraseña: " />
                                <p:password id="pwd2" value="#{indexManaged.pass}" label="Password 2" required="true" 
                                            requiredMessage="Confirma contraseña es un campo obligatorio."/>

                                <p:outputLabel value="Celular:" />
                                <p:inputText value="#{indexManaged.cel}" >

                                </p:inputText>

                                <p:outputLabel value="Teléfono fijo:" />
                                <p:inputText value="#{indexManaged.tel}"  >

                                </p:inputText>

                                <p:outputLabel value="País:" />
                                <p:selectOneMenu value="#{indexManaged.paisID}" >
                                    <p:ajax listener="#{indexManaged.cargaCiudades}" update="paisId" />
                                    <f:selectItems value="#{indexManaged.paises}">   
                                    </f:selectItems>
                                </p:selectOneMenu>

                                <p:outputLabel value="Metrópoli:" />
                                <p:selectOneMenu  id="paisId" value="#{indexManaged.metropoliID}" > 
                                    <f:selectItem itemLabel="Selecciona metropoli" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{indexManaged.metropolis}"  >   
                                    </f:selectItems>
                                </p:selectOneMenu>

                                <p:outputLabel value="Club o Asociación:" />
                                <p:inputText  value="#{indexManaged.club}"/>

                                <p:outputLabel  value="Género:" />
                                <p:selectOneRadio id="console" value="#{indexManaged.gen}">
                                    <f:selectItem itemLabel="Masculino" itemValue="1" />
                                    <f:selectItem itemLabel="Femenino" itemValue="2" />
                                </p:selectOneRadio>

                                <p:outputLabel value="Fecha de nacimiento:" />
                                <p:calendar  value="#{indexManaged.fecha}"   pattern="dd-MMM-yyyy"  locale="es" navigator="true"/>

                                <p:outputLabel  value="Discapacidad:" />
                                <p:selectOneMenu  value="#{indexManaged.disc}" style="width:125px">
                                    <f:selectItem itemLabel="Ninguna" itemValue="Ninguna" />
                                    <f:selectItem itemLabel="Visual" itemValue="Visual" />
                                    <f:selectItem itemLabel="Auditiva" itemValue="Auditiva" />
                                    <f:selectItem itemLabel="Motriz" itemValue="Motriz" />
                                </p:selectOneMenu>
                                <p:outputLabel  value="Indentificación" />
                                <p:selectOneMenu  value="#{indexManaged.iden}" style="width:125px">
                                    <f:selectItem itemLabel="INE" itemValue="INE" />
                                    <f:selectItem itemLabel="Cédula profesional" itemValue="Cédula profesional" />
                                    <f:selectItem itemLabel="Cartilla" itemValue="Cartilla" />
                                    <f:selectItem itemLabel="Pasaporte" itemValue="Pasaporte" />
                                    <f:selectItem itemLabel="Licencia" itemValue="Licencia" />
                                </p:selectOneMenu>

                                <p:outputLabel value="Número de identificación:" />
                                <p:inputText value="#{indexManaged.niden}"  >
                                </p:inputText>

                                <p:outputLabel value="RFC:" />
                                <p:inputText value="#{indexManaged.rfc}"  >
                                </p:inputText>

                                <p:outputLabel value="CURP:" />
                                <p:inputText value="#{indexManaged.curp}"  >
                                </p:inputText>

                                <p:outputLabel value="Datos Obligatorios*" /> 
                            </h:panelGrid>
                            <h:panelGrid columns="3" style="margin-bottom:10px" cellpadding="5">
                                <p:selectBooleanCheckbox value="#{indexManaged.check}" required="true" 
                                                         requiredMessage="Debe aceptar el aviso de privacidad."/> 
                                <p:outputLabel value="Acepto que he leído y estoy de acuerdo con el" /> 
                                <a onclick="archivo();" ><b><ins>"Aviso privacidad."</ins></b></a>

                            </h:panelGrid>
                            <p:commandButton  value="Guardar" actionListener="#{indexManaged.insertaUser}" update="messages"/>
                        </p:fieldset>
                    </h:form>

                </section>

            </div>
            <div id="instrucicones">
                <p:fieldset legend="Instrucciones" style="margin-bottom:20px" >
                    <p:separator />
                    <h1 style=" font-size: 12px; color: #000000 " >
                        1.- Es muy importante que los datos asentados en el Registro sean los correctos, principalmente el <b>NOMBRE</b>. Con el nombre es como reclamarás los premios. Asimismo, el nombre permitirá la formación de las Parejas y Equipos. El nombre es un dato no editable. Dato obligatorio. <br />
                        2.- Mediante el <b>CORREO ELECTRÓNICO</b> tendremos comunicación contigo, te haremos llegar toda la información de los torneos presenciales de dominó e información relevante del dominó mundial. Además, junto con la <b>CONTRASEÑA</b> es la llave para ingresar al Registro, que te permitirá inscribirte a los torneos presenciales que Amigos por el Dominó organiza y te habilita para jugar dominó en línea. Además, podrás  editar tus datos e incluso cambiar tu contraseña. Deberás generar una contraseña que solamente tú debes conocer. <b>El uso del correo electrónico y la contraseña es bajo tu responsabilidad.</b> Datos obligatorios. <br />  
                        3.- También con el <b>CELULAR</b>, a través de mensajes, mantendremos contacto. O mediante tu <b>TELÉFONO FIJO</b>, te llamamos. Si resides en México proporciona tu número a 10 dígitos, si radicas en otro país proporciona tu número con la clave correspondiente. <br />
                        4.- Deseamos conocer tu PAÍS de residencia y la <b>METRÓPOLI</b> más cercana a tu vivienda, saber si perteneces a algún <b>CLUB o ASOCIACIÓN</b>, queremos llegar con concursos presenciales a esos lugares. Además queremos felicitarte para tu cumpleaños y enviarte información conforme a tu generación, proporciónanos tu <b>GÉNERO y FECHA DE NACIMIENTO</b>. <br /> 
                        5.- Con el objeto de ofrecer un trato especial a las <b>PERSONAS CON DISCAPACIDAD</b>, favor de hacerlo de nuestro conocimiento. <br /> 
                        6.- Con una <b>IDENTIFICACIÓN OFICIAL</b> y el nombre es como reclamarás los premios. La identificación deberá hacerse mediante la credencial del Instituto Nacional Electoral, <b>INE</b> vigente, pasaporte vigente, cartilla militar, cédula profesional o <b>licencia</b> vigente. Extranjeros solo con pasaporte vigente. <br /> 
                        7.- Es necesaria la clave del <b>REGISTRO FEDERAL DE CONTRIBUYENTES, RFC o la CLAVE ÚNICA DE REGISTRO DE POBLACIÓN, CURP</b> para recibir los premios. Conforme a las leyes fiscales estamos obligados a retener los impuestos correspondientes. Una vez asentado el <b>RFC</b> o <b>CURP</b> en el Registro se convierte en un dato no editable.	
                    </h1>
                </p:fieldset>
            </div>
        </div>

    </h:body>  
</html> 
