<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>  
        <link href="css/estiloestructurajugador.css" rel="stylesheet" type="text/css" /> 
    </h:head>  

    <h:body>  

        <div id="header_est">

            <ui:include src="menujugador.xhtml"></ui:include>
            <div id="content">
                <section id="seccion3">
                    <div align="center">




                        <h:form>
                            <h:panelGrid columns="1" cellpadding="1" id="jugador">
                                <p:growl id="messages" showDetail="true" autoUpdate="true" sticky="false" life="3000"/>

                                <h:panelGrid columns="1" cellpadding="1" id="registro">
                                    <!-- Mostrar torneo inicio -->
                                    <h:panelGrid columns="2" cellpadding="1" >
                                        <c:if test="#{torneoManaged.variabletorneo == 0}">
                                            <p:outputLabel value="Selecciona Torneo:" />
                                            <p:selectOneMenu value="#{torneoManaged.torneoId}" >
                                                <p:ajax listener="#{torneoManaged.cargaTorneoRegistro}" update="registro" />
                                                <f:selectItem itemLabel="Selecciona torneo" itemValue="" noSelectionOption="true" />
                                                <f:selectItems value="#{torneoManaged.torneos}">   
                                                </f:selectItems>
                                            </p:selectOneMenu>
                                        </c:if>

                                    </h:panelGrid>
                                    <!-- Mostrar torneo fin -->
                                    <!-- Mostrar datos del torneo inicio -->
                                    <c:if test="#{torneoManaged.variabletorneo == 1}">
                                        <h:panelGrid columns="2" cellpadding="5" >
                                            <p:dataTable style="width:100%" value="">
                                                <f:facet name="header">
                                                    Datos Generales del Torneo.
                                                </f:facet>
                                                <p:columnGroup type="header">
                                                    <p:row>
                                                        <p:column colspan="6" headerText="" />
                                                        <p:column colspan="3" headerText="Horario para Registro e Inscripción" />
                                                    </p:row>
                                                    <p:row>
                                                        <p:column headerText="Nombre"/>
                                                        <p:column headerText="Ámbito"/>
                                                        <p:column headerText="Lugar"/>
                                                        <p:column headerText="Sede"/>
                                                        <p:column headerText="Género"/>
                                                        <p:column headerText="Fecha de Torneo"/>
                                                        <p:column headerText="Desde por Internet"/>
                                                        <p:column headerText="Hasta por Internet"/>
                                                        <p:column headerText="En la Sede"/>
                                                    </p:row>
                                                </p:columnGroup>
                                                <p:column >
                                                    <div align="center">
                                                        <p:outputLabel value="#{torneoManaged.nomtor}" />
                                                    </div>
                                                </p:column>
                                                <p:column >
                                                    <div align="center">
                                                        <p:outputLabel value="#{torneoManaged.amb}" />
                                                    </div>
                                                </p:column>

                                                <p:column >
                                                    <div align="center">
                                                        <p:outputLabel value="#{torneoManaged.lugar}" />
                                                    </div>
                                                </p:column>

                                                <p:column >
                                                    <div align="center">
                                                        <p:outputLabel value="#{torneoManaged.sede}" />
                                                    </div>
                                                </p:column>

                                                <p:column >
                                                    <div align="center">
                                                        <p:outputLabel value="#{torneoManaged.genero}" />
                                                    </div>
                                                </p:column>

                                                <p:column >
                                                    <div align="center">
                                                        <p:outputLabel value="#{torneoManaged.fechadesde}" />
                                                        <br/>
                                                        a
                                                        <br/>
                                                        <p:outputLabel value="#{torneoManaged.fechahasta}" />
                                                    </div>
                                                </p:column>

                                                <p:column >
                                                    <div align="center">
                                                        <p:outputLabel value="#{torneoManaged.desInter}" />
                                                    </div>
                                                </p:column>
                                                <p:column >
                                                    <div align="center">
                                                        <p:outputLabel value="#{torneoManaged.hasInter}" />
                                                    </div>
                                                </p:column>
                                                <p:column >
                                                    <div align="center">
                                                        <p:outputLabel value="#{torneoManaged.desdsede}" />
                                                    </div>
                                                </p:column>
                                            </p:dataTable>
                                        </h:panelGrid>
                                        <!-- Mostrar datos del torneo fin -->

                                        <!-- Mostrar modalidades -->
                                        <h:panelGrid columns="2" cellpadding="1">

                                            <p:dataTable style="width:100%" value="">
                                                <f:facet name="header">
                                                    Modalidades del Torneo.
                                                </f:facet>
                                                <c:if test="#{torneoManaged.variableindividual == 1}">

                                                    <p:column headerText="Modalidad">
                                                        <div align="center">
                                                            <p:selectBooleanCheckbox value="#{torneoManaged.chkind}" />
                                                            <h:outputText value="Individual" />      
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.pareja == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <p:selectBooleanCheckbox value="#{torneoManaged.chkpar}" />
                                                                <h:outputText value="Pareja " />
                                                            </c:if>
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.equipo == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <p:selectBooleanCheckbox value="#{torneoManaged.chkequ}" /> 
                                                                <h:outputText value="Equipo " />
                                                            </c:if>
                                                        </div>
                                                    </p:column>
                                                    <p:column headerText="Formato">
                                                        <div align="center">
                                                            <h:outputText value="#{torneoManaged.formind}" /> 
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.pareja == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="#{torneoManaged.formpar}" /> 
                                                            </c:if>
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.equipo == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="#{torneoManaged.formequ}" />
                                                            </c:if>
                                                        </div>
                                                    </p:column>
                                                    <p:column headerText="Partidas">
                                                        <div align="center">
                                                            <h:outputText value="#{torneoManaged.partidaind}" /> 
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.pareja == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="#{torneoManaged.partidapar}" /> 
                                                            </c:if>
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.equipo == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="#{torneoManaged.partidaequ}" /> 
                                                            </c:if>
                                                        </div>
                                                    </p:column>
                                                    <p:column headerText="Inscripción">
                                                        <div align="center">
                                                            <h:outputText value="$ #{torneoManaged.insi}" /> 
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.pareja == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="$ #{torneoManaged.insp}" /> 
                                                            </c:if>
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.equipo == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="$ #{torneoManaged.inse}" />
                                                            </c:if>
                                                        </div>
                                                    </p:column>
                                                    <p:column headerText="Meta en Tantos">
                                                        <div align="center">
                                                            <h:outputText value="#{torneoManaged.metaind}" /> 
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.pareja == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="#{torneoManaged.metapar}" /> 
                                                            </c:if>
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.equipo == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="#{torneoManaged.metaequ}" />
                                                            </c:if>
                                                        </div>
                                                    </p:column>
                                                    <p:column headerText="Minutos por partida">
                                                        <div align="center">
                                                            <h:outputText value="#{torneoManaged.tiempoPartidaind}" />
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.pareja == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="#{torneoManaged.tiempoPartidapar}" />
                                                            </c:if>
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.equipo == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="#{torneoManaged.tiempoPartidaequ}" />
                                                            </c:if>
                                                        </div>
                                                    </p:column>
                                                    <p:column headerText="Bolsa1">
                                                        <div align="center">
                                                            <h:outputText value="$ #{torneoManaged.bo1i}" /> 
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.pareja == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="$ #{torneoManaged.bo1p}" /> 
                                                            </c:if>
                                                            <br/>
                                                            <br/>
                                                            <c:if test="#{torneoManaged.equipo == 1}">
                                                                <p:separator /> 
                                                                <br/>
                                                                <h:outputText value="$ #{torneoManaged.bo1e}" /> 
                                                            </c:if>
                                                        </div>
                                                    </p:column>
                                                    <c:if test="#{torneoManaged.formato == 2}">
                                                        <p:column headerText="Bolsa2">
                                                            <div align="center">
                                                                <h:outputText value="$ #{torneoManaged.bo2i}" /> 
                                                                <br/>
                                                                <br/>
                                                                <c:if test="#{torneoManaged.pareja == 1}">
                                                                    <p:separator /> 
                                                                    <br/>
                                                                    <h:outputText value="$ #{torneoManaged.bo2p}" /> 
                                                                </c:if>
                                                                <br/>
                                                                <br/>
                                                                <c:if test="#{torneoManaged.equipo == 1}">
                                                                    <p:separator /> 
                                                                    <br/>
                                                                    <h:outputText value="#{torneoManaged.bo2e}" /> 
                                                                </c:if>
                                                            </div>
                                                        </p:column>

                                                        <c:if test="#{torneoManaged.multibolsa == 2}">
                                                            <p:column headerText="Bolsa3">
                                                                <div align="center">
                                                                    <h:outputText value="$ #{torneoManaged.bo3i}" /> 
                                                                    <br/>
                                                                    <br/>
                                                                    <c:if test="#{torneoManaged.pareja == 1}">
                                                                        <p:separator /> 
                                                                        <br/>
                                                                        <h:outputText value="$ #{torneoManaged.bo3p}" /> 
                                                                    </c:if>
                                                                    <br/>
                                                                    <br/>
                                                                    <c:if test="#{torneoManaged.equipo == 1}">
                                                                        <p:separator /> 
                                                                        <br/>
                                                                        <h:outputText value="#{torneoManaged.bo3e}" /> 
                                                                    </c:if>
                                                                </div>
                                                            </p:column>

                                                        </c:if>
                                                    </c:if>

                                                </c:if>



                                            </p:dataTable>


                                            <!-- Boton para regisro torneo inicio -->
                                            <c:if test="#{torneoManaged.variableboton == 0}">
                                                <p:commandButton  value="Registrarse" update="jugador" actionListener="#{torneoManaged.insertaRegistro}"/>
                                            </c:if>
                                            <c:if test="#{torneoManaged.variableactualizar == 1}">
                                                <p:commandButton  value="Actualizar Modalidad" update="jugador" actionListener="#{torneoManaged.actualizaRegistro}"/>
                                            </c:if>
                                            <!-- Boton para regisro torneo fin -->

                                            <!-- Boton para actualizar torneo inicio -->

                                            <!-- Boton para actualizar torneo inicio -->

                                            <!-- Mostrar modalidades fin -->

                                            <br/><br/>

                                        </h:panelGrid>
                                        <!-- Muestra parejas inicio -->
                                        <!-- Registro de parejas inicio -->
                                        <h:panelGrid columns="2" cellpadding="1" >
                                            

                                            <h:panelGrid columns="1" cellpadding="1" id="jugador2" >
                                                <h:panelGrid columns="2" cellpadding="1" id="regexi2" >
                                                    <h:panelGrid columns="3" cellpadding="1"  id="elipar2">

                                                        <c:if test="#{torneoManaged.variable == 2}">
                                                            <f:facet name="header">
                                                                Modalidad de Pareja.
                                                            </f:facet>
                                                            <p:outputLabel value="Selecciona Pareja:" />
                                                            <p:selectOneMenu  value="#{torneoManaged.jugadorId}"  panelStyle="width:200px"
                                                                              style="width:200px" filter="true" filterMatchMode="startsWith" >

                                                                <f:selectItems value="#{torneoManaged.jugadores}" >   
                                                                </f:selectItems>
                                                            </p:selectOneMenu>
                                                            <p:commandButton  value="Guardar" update="regexi2" actionListener="#{torneoManaged.insertaPareja}"/>
                                                        </c:if>


                                                        <c:if test="#{torneoManaged.variable == 4}">
                                                            <f:facet name="header">
                                                                Modalidad de Pareja.
                                                            </f:facet>
                                                            <p:outputLabel value="Pareja:" />
                                                            <p:inputText value="#{torneoManaged.pareja2}" readonly="true" />    
                                                            <p:commandButton  value="Cambiar Jugador" update="elipar2" actionListener="#{torneoManaged.eliminaPareja}"/>
                                                        </c:if>
                                                    </h:panelGrid>



                                                    <h:panelGrid columns="3" cellpadding="1" id="equipo" >
                                                        <p:growl  showDetail="true" sticky="false" life="3000"/>
                                                        <p:outputLabel value="" /><p:outputLabel value="" />
                                                        <c:if test="#{torneoManaged.variableequipo == 2}">
                                                            <f:facet name="header">
                                                                Modalidad de Equipo.
                                                            </f:facet>
                                                            <c:if test="#{torneoManaged.variableequipo1 == 1}">
                                                                <p:outputLabel value="Selecciona Equipo:" />
                                                                <p:selectOneMenu  value="#{torneoManaged.equ1}"  panelStyle="width:200px"
                                                                                  style="width:200px" filter="true" filterMatchMode="startsWith" >
                                                                    <f:selectItems value="#{torneoManaged.equipos}" />   
                                                                </p:selectOneMenu>
                                                                <p:commandButton  value="Guardar"  actionListener="#{torneoManaged.guardaEquipo}"  update="equipo"/>
                                                            </c:if>
                                                            <c:if test="#{torneoManaged.variableequipo1 == 2}">
                                                                <p:outputLabel value="Equipo:" />
                                                                <p:inputText value="#{torneoManaged.nombre1}" readonly="true"/>
                                                                <p:commandButton  value="Cambiar Jugador" actionListener="#{torneoManaged.eliminar1}" update="equipo"/>
                                                            </c:if>


                                                            <c:if test="#{torneoManaged.variableequipo2 == 1}">
                                                                <p:outputLabel value="Selecciona Equipo:" />
                                                                <p:selectOneMenu  value="#{torneoManaged.equ2}"  panelStyle="width:200px"
                                                                                  style="width:200px" filter="true" filterMatchMode="startsWith" >
                                                                    <f:selectItems value="#{torneoManaged.equipos2}" />   
                                                                </p:selectOneMenu>
                                                                <p:commandButton  value="Guardar"  actionListener="#{torneoManaged.guardaEquipo2}"  update="equipo"/>
                                                            </c:if>
                                                            <c:if test="#{torneoManaged.variableequipo2 == 2}">
                                                                <p:outputLabel value="Equipo:" />
                                                                <p:inputText value="#{torneoManaged.nombre2}" readonly="true"/>
                                                                <p:commandButton  value="Cambiar Jugador" actionListener="#{torneoManaged.eliminar2}" update="equipo"/>

                                                            </c:if>



                                                            <c:if test="#{torneoManaged.variableequipo3 == 1}">
                                                                <p:outputLabel value="Selecciona Equipo:" />
                                                                <p:selectOneMenu  value="#{torneoManaged.equ3}"  panelStyle="width:200px"
                                                                                  style="width:200px" filter="true" filterMatchMode="startsWith"  >
                                                                    <f:selectItems value="#{torneoManaged.equipos3}" />   

                                                                </p:selectOneMenu>
                                                                <p:commandButton  value="Guardar"  actionListener="#{torneoManaged.guardaEquipo3}"  update="equipo"/>
                                                            </c:if>
                                                            <c:if test="#{torneoManaged.variableequipo3 == 2}">
                                                                <p:outputLabel value="Equipo:" />
                                                                <p:inputText value="#{torneoManaged.nombre3}" readonly="true"/>
                                                                <p:commandButton  value="Cambiar Jugador" actionListener="#{torneoManaged.eliminar3}" update="equipo"/>

                                                            </c:if>
                                                        </c:if>
                                                    </h:panelGrid>
                                                </h:panelGrid>


                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <!-- Muestra parejas fin -->
                                    </c:if>
                                </h:panelGrid>


                            </h:panelGrid>


                        </h:form>


                    </div>
                </section>
            </div>           


        </div>    

    </h:body>  
</html> 